.screen{
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
}

.bricks{
  background-color: brown;
  position: absolute;
}
.paddle {
  background-color: black;
  position: absolute;
}

.ball {
  position: absolute;
  border-radius: 100%;
  background: green;
}