.screen{
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
}

.bricks{
  background-color: black;
  position: absolute;
}
.paddle {
  background-color: black;
  position: absolute;
}